<div class="flex justify-center items-center py-10">
    <div class="card w-full max-w-sm bg-base-100 shadow-md">
        <div class="card-body">
            <h2 class="card-title justify-center">Créer un compte</h2>

            <form action="" (ngSubmit)="isFormValid()" class="flex flex-col gap-4">
                <label class="form-control w-full">
                    <div class="label">
                        <span class="label-text">Email</span>
                    </div>
                    <input [(ngModel)]="mail" name="mail" type="email" placeholder="Jean-michel@michel.ru" class="input input-bordered w-full">
                    @if (emailMessage()){
                        <p class="text-error text-sm">{{ emailMessage() }}</p>
                    }
                </label>

                <label class="form-control w-full">
                    <div class="label">
                        <span class="label-text">Mot de passe</span>
                    </div>
                    <input [(ngModel)]="password" name="password" [type]="typePassword()" placeholder="Votre mot de passe" class="input input-bordered w-full">
                    <button (click)="displayPassword()" > {{ showPassword() ? 'Afficher' : 'Masquer'}}  </button>
                    <progress class="progress progress-error w-56" value="0" max="100"></progress>
                    @if (passwordMessage()){
                        <p class="text-error text-sm">{{ passwordMessage() }}</p>
                    }
                    
                </label>

                <label class="form-control w-full">
                    <div class="label">
                        <span class="label-text">Téléphone</span>
                    </div>
                    <input [(ngModel)]="phone" name="phone" type="text" placeholder="06 12 34 56 78" class="input input-bordered w-full">
                    @if (phoneMessage()){
                        <p class="text-error text-sm">{{ phoneMessage() }}</p>
                    }
                </label>

                <button [disabled]="!isFormValid()" class="btn btn-primary w-full mt-2" type="submit">Créer mon compte</button>
            </form>
        </div>
    </div>
</div>
